
body {
    margin: 0px;
}

main {
    background: 
    linear-gradient(
    to top right,
    #c43c3c,
    #c43c3c 20%,
    #000000 20%, 
    #000000 40%,
    #c43c3c 40%,
    #c43c3c 60%,
    #000000 60%,
    #000000 80%,
    #c43c3c 80%);
    text-align: center;
    width: 100%;
    min-height:100vh;
  }

.inverted {
    background: 
    linear-gradient(
    to top left,
    #c43c3c,
    #c43c3c 20%,
    #000000 20%, 
    #000000 40%,
    #c43c3c 40%,
    #c43c3c 60%,
    #000000 60%,
    #000000 80%,
    #c43c3c 80%);
    text-align: center;
    width: 100%;
    min-height:100vh;
}


  /* Nav */

header {
    background-color: #c43c3c;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #000000;
}

.header-logo {
    position: absolute;
    top: 0.5vh;
    left: 1.5vw;
}

.nav-list {
    justify-content: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 0px;
    margin: 10px;
   
  }
  
  .nav-item {
    color: #c5ec86;
    margin: 50px;
  }
  
  .nav-link {
    color: #c5ec86;
    text-decoration: none;
    text-shadow: 5px 5px 5px #000000;
  }
  
  .nav-link-current {
    text-decoration: none;
    color: #E9FA00;
    text-shadow: 5px 5px 5px #000000;
  }

  .cancer-slug {
    position: absolute;
    top: 0.5vh;
    right: 10vw;
  }

  /* Home */



.home-text {
    border: 5px solid #E9FA00
}

.member-photo {
    border: 5px solid #E9FA00
}

.member-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

}

.disc-container {
    border: 5px solid #E9FA00;
}

.discography {
    border: 5px solid #E9FA00;
}


/* About */

.band-member {
    display: flex;
    align-items:center;
 }

 h1 {
    color: aqua;
 }