
body {
    margin: 0px;
}

main {
    background: 
    linear-gradient(
    to top right,
    #c43c3c,
    #c43c3c 20%,
    #000000 20%, 
    #000000 40%,
    #c43c3c 40%,
    #c43c3c 60%,
    #000000 60%,
    #000000 80%,
    #c43c3c 80%);
    text-align: center;
    width: 100%;
    min-height:100vh;
  }

.inverted {
    background: 
    linear-gradient(
    to top left,
    #c43c3c,
    #c43c3c 20%,
    #000000 20%, 
    #000000 40%,
    #c43c3c 40%,
    #c43c3c 60%,
    #000000 60%,
    #000000 80%,
    #c43c3c 80%);
    text-align: center;
    width: 100%;
    min-height:100vh;
}

footer {
  background-color: #000000;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
color: #E9FA00;

}


h1 {
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
  border: 5px solid #00000000;
  color: #782E8C;
  text-shadow: -1px 0 #E9FA00, 0 1px #E9FA00, 1px 0 #E9FA00, 0 -1px #E9FA00;
  margin: 0px;
}

h2 {
  font-size: 4vh;
  font-family: ccmonstermash, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size:6vw;
  font-family: totally-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #E9FA00;
}

p {
  color: #E9FA00;
  font-family: bradley-djr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vh;
  text-shadow: #000000  0 -2px;
}

  /* Nav */

header {
    background-color: #c43c3c;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #000000;
}

.header-logo {
    position: absolute;
    top: 0.5vh;
    left: 1.5vw;
    max-width: 10vw;
}

.heading-text {
  margin-top: 35px;
  font-size: 4vw;
}

.nav-list {
    justify-content: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 0px;
    margin: 0px;
  }
  
  .nav-item {
    margin: 20px;
  }
  
  .nav-link {
    color:#E9FA00;;
    text-decoration: none;
  }
  
  .nav-link-current {
    text-decoration: none;
    color: #E9FA00;
    text-shadow: 8px 8px 8px #5d236d;
  }

  .cancer-slug {
    position: absolute;
    top: 0.5vh;
    right: 10vw;
    max-width: 6vw;
  }

  /* Home */



.home-text {
    border: 5px solid #00000000;
    color: #782E8C;
    text-shadow: -1px 0 #E9FA00, 0 1px #E9FA00, 1px 0 #E9FA00, 0 -1px #E9FA00;
}

.member-photo {
    border: 10px solid #782E8C;
    border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #E9FA00;
    max-width: 80vw;
}

.album {
  max-width: 35vw;
}

.member-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

}

.disc-container {
    border: 5px solid #E9FA0000;
    color: #782E8C;
    text-shadow: -1px 0 #E9FA00, 0 1px #E9FA00, 1px 0 #E9FA00, 0 -1px #E9FA00;
    margin-top: 20px;
}

.discography {
    background-color: #000000;
    padding: 20px;
    margin:0px;
    border:0px;
}


/* About & Tour Dates */

.box-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 50px;
    border: 50px solid #00000000;
}

.box-info {
    margin: 50px;
    color: #782E8C;
    text-shadow: -1px 0 #E9FA00, 0 1px #E9FA00, 1px 0 #E9FA00, 0 -1px #E9FA00;
}

.posters {
  max-width: 60vw;
}

/* contact */


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  color: #E9FA00;
  border-radius: 5px;
  padding: 20px;
  
} 